@use '../colors' as *;

.todo {
	&-form {
		margin-bottom: 1.5rem;
	}

	&-input {
		flex: 1;
		padding: 0.5rem 1rem;
		border: 1px solid var(--zinc-300);
		border-radius: 4px;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem;
		border-radius: 4px;
		background-color: var(--zinc-800);
	}

	&-checkbox {
		width: 1.25rem;
		height: 1.25rem;
	}

	&-text {
		flex: 1;

		&.completed {
			text-decoration: line-through;
		}
	}

	&-toggle {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		flex: 1;
		background: none;
		border: none;
		cursor: pointer;
		padding: 0.5rem;
		width: 100%;
		text-align: left;

		&:hover {
			background-color: var(--zinc-100);
		}
	}
}

.form-group {
	display: flex;
	gap: 0.5rem;
}

.add-button {
	padding: 0.5rem 1rem;
	background-color: var(--zinc-600);
	color: var(--zinc-50);
	border: none;
	border-radius: 4px;
	cursor: pointer;

	&:hover {
		background-color: var(--zinc-700);
	}
}

.delete-button {
	padding: 0.25rem 0.5rem;
	color: #ef4444;
	border: none;
	background: none;
	cursor: pointer;

	&:hover {
		color: #b91c1c;
	}
}
